[flake8]
ignore = E121,E123,E126,E226,E24,E704,W503,W504,E501,F403,F401
exclude =
		.git,
		migrations,
		__pycache__,
		build,
		dist
max-line-length = 79
max-complexity = 10
select = B,C,E,F,W,T4,B9
